<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.runselector.RunSelector plugin="runselector@1.28">
      <project>fingerprint</project>
      <filter>**/*</filter>
      <target>targetDir</target>
      <selector class="org.jenkinsci.plugins.runselector.selectors.StatusRunSelector"/>
    </hudson.plugins.runselector.RunSelector>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>