<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.runselector.RunSelectorTest_-WrapBuilder>
      <wrappedBuilder class="hudson.plugins.runselector.RunSelector">
        <projectName>plain</projectName>
        <filter>tag.txt</filter>
        <target>from-plain</target>
        <selector class="org.jenkinsci.plugins.runselector.selectors.StatusRunSelector"/>
      </wrappedBuilder>
    </hudson.plugins.runselector.RunSelectorTest_-WrapBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>